/* HEADER */
.header-navigation {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  @media screen and (width < 440px) {
    display: grid;
    grid-template-columns: 60px 2fr;
    gap: 20px;
  }
}

.header-navigation-right {
  display: flex;
  .nav-link {
    margin-left: 100px;
  }
  @media screen and (width < 800px) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    .nav-link {
      margin-left: 20px;
    }
  }
}

/* HOME SECTION */
.home-section {
  background-image: url("/feilian-office.jpg");
  background-position: center;
  background-size: cover;
  height: 540px;
  @media screen and (width < 440px) {
    height: 280px;
  }
}

.home-content {
  gap: 37px;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  right: -60%;
  top: 20%;

  @media screen and (width < 800px) {
    right: -30%;
    top: 20%;
    padding-left: 10px;
    gap: 20px;
  }

  @media screen and (width < 440px) {
    padding-top: 20px;
    right: 0%;
    top: 0;
  }
}
.home-content-button-wrapper {
  width: 100%;
  display: flex;
  align-items: start;
}

/* ABOUT SECTION */
.about-section {
  display: flex;
  gap: 38px;
  flex-direction: column;
  padding-top: 58px;
  padding-bottom: 71px;
  @media screen and (width < 440px) {
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* PRODUCTS SECTION */
.products-section {
  padding-top: 57px;
  padding-bottom: 57px;
  @media screen and (width < 440px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  > h2 {
    margin-bottom: 42px;
    @media screen and (width < 440px) {
      margin-bottom: 20px;
    }
  }
}

.products-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  @media screen and (width < 440px) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

/* CONTACTS SECTION */
.contacts-section {
  margin-top: 57px;
  margin-bottom: 57px;
  background-image: url("/feilian-office-open.jpg");
  background-position: center;
  background-size: cover;
  height: 540px;
  @media screen and (width < 440px) {
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.contacts-wrapper {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  height: 100%;
}

.contacts-card {
  background-color: #f1f3f2;
  border-radius: 20px;
  max-width: 600px;
  width: 100%;
  height: 349px;
  color: #181818;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  a {
    color: #181818;
    &:hover {
      color: rgb(86, 86, 86);
    }
  }
  @media screen and (width < 440px) {
    height: 150px;
  }
}

.contacts-card-title {
  margin-top: 83px;
  margin-bottom: 83px;
  @media screen and (width < 440px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.contacts-card-content {
  display: grid;
  grid-template-columns: 90px 210px;
  gap: 40px;
  margin-left: 160px;
  margin-right: 160px;
  @media screen and (width < 440px) {
    gap: 30px;
    row-gap: 10px;
    margin-left: 12px;
    margin-right: 12px;
  }
}
.contacts_label {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}

.contacts_description {
  display: flex;
  font-size: 12px;
  height: 100%;
  align-items: center;
}

/* FOOTER */

.footer-navigation {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 57px;
  padding-bottom: 57px;
  @media screen and (width < 440px) {
    display: flex;
    flex-direction: column;
    padding-top: 22px;
    padding-bottom: 10px;
    gap: 20px;
  }
}

.footer-navigation-right {
  .nav-link {
    margin-left: 40px;
  }
  @media screen and (width < 440px) {
    margin-left: 20px;
  }
  @media screen and (width < 800px) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    .nav-link {
      margin-left: 20px;
    }
  }
}

.footer-email {
  margin-top: 40px;
  font-size: 10px;
  margin-left: 40px;
  @media screen and (width < 800px) {
    margin-top: 0;
  }
  @media screen and (width < 440px) {
    margin-left: 0;
  }
}
